body{
    background-color: rgba(235, 211, 53, 0.697);
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}


/* stylize image in card */
.img-style {
    height: 40%;
    width: 40%;
    margin: 5px;
    box-shadow: 0px 0px 20px rgb(183, 183, 183);
    border-radius: 50px;
}

/* style all cards */
.all-cards {
    box-shadow: 0px 5px 20px rgb(183, 183, 183);
    min-height: 500px;
    background-color: rgba(223, 222, 212, 0.569);
    border-radius: 3%;
}

.container-fluid{
    background-color: rgba(235, 211, 53, 0.697);

}

