body{
    background: rgb(10,98,44);
background: linear-gradient(90deg, rgba(10,98,44,1) 22%, rgba(154,182,39,0.7707676820728291) 60%);
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 26px;
    color: green;
    font-weight: 800;
    padding: 0, 75px, 10px;
}



/* stylize image in card */
.img-style {
    height: 40%;
    width: 46%;
    margin: 5px;
    box-shadow: 0px 18px 20px rgba(118, 231, 25, 0.521);
    border-radius: 25px;
}

/* style all cards */
.all-cards {
    box-shadow: 0px 8px 20px rgba(196, 236, 63, 0.836);
    min-height: 500px;
    background-color: rgba(223, 222, 212, 0.569);
    border-radius: 8%;
}

.container-fluid{
    
background: linear-gradient(90deg, rgba(10,98,44,1) 22%, rgba(154,182,39,0.7707676820728291) 60%);
    color: linear-gradient(90deg, rgba(10,98,44,1) 22%, rgba(154,182,39,0.7707676820728291) 60%);
}

.navbar{
    padding: 0,0,3px;
    margin-bottom: -10px;
}
.navbar-brand span {
font-weight: 600;
text-decoration: underline;
color:green;
}

.card-text {
color:green;
}

.card-title {
    color:green;
}